<div *ngIf="items?.length > 0;else noItems">
  <ul *ngFor="let item of items" class="collection">
    <li class="collection-item">
       <!-- Modal Trigger -->
       <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

       <!-- Modal Structure -->
       <div id="modal1" class="modal">
         <div class="modal-content">
           <h4>hola</h4>
         </div>
         <div class="modal-footer">
           <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
         </div>
       </div>
      <a href="#" class="secondary-content">
        <i *ngIf="editState == false" (click)="editItem($event, item)" class="material-icons">mode_edit</i>
        <i *ngIf="editState == false" (click)="playItem($event, item)" class="material-icons">play_circle_outline</i>
        <i *ngIf="editState && itemToEdit.id == item.id" (click)="clearState()" class="material-icons">close</i>
      </a>
      <blockquote>{{item.description}}</blockquote>
      <br>
      <div *ngIf="editState && itemToEdit.id == item.id" class="container-updateItem">
        <form (ngSubmit)="onUdpdateItem(item)" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input [(ngModel)]="item.description" #desctiption="ngModel" type="text" name="desctiption"
                id="desctiption" placeholder="Description">
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="item.phrase" #phrase="ngModel" type="text" name="phrase" id="phrase"
                placeholder="Phrase">
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="item.shuffle" #shuffle="ngModel" type="text" name="shuffle" id="shuffle"
                placeholder="Shuffle">
            </div>
            <div class="input-field col s4">
              <button (click)="deleteItem($event, item)" class="btn red right">Delete
                <i class="material-icons right">delete_forever</i>
              </button>
            </div>
            <div class="input-field col s4">
              <button type="button" (click)="shufflePhrase($event, item)" class="btn orange">Shuffle
                <i class="material-icons right">shuffle</i>
              </button>
            </div>
            <div class="input-field col s4">
              <button type="submit" class="btn green">Update
                <i class="material-icons right">save</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>
<ng-template #noItems>
  <hr>
  <h5>THERE ARE NO PHRASES</h5>
</ng-template>